 

html { font-size: 22px; }
body { padding: 1rem; }

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  max-width: 1200px;
 
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

/* Screen larger than 900px? 3 columns */
 


@media only screen and (min-width: 768px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

